pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.idea/workspace.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/misc.xml
.idea/libraries
